@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Coolvetica Condensed';
    src: url('/fonts/coolvetica_condensed_rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    @apply bg-white text-gray-900;
    font-family: 'Coolvetica Condensed', sans-serif; /* Applied Coolvetica Condensed */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    @apply border-gray-200;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}